<div id="filamenttab" class="form-horizontal">
	<H4>Filament Settings</H4>
	<div class="control-group">
		<label class="control-label">{{ _('Empty Spool:') }}</label>
		<div class="controls">
			<div class="input-append">
				<input type="text" class="input-mini" style="text-align:right;" data-bind="value: settings.settings.plugins.SmartScale.spool_weight">
				<span class="add-on" >g</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Density:') }}</label>
		<div class="controls">
			<div class="input-append">
				<input type="text" class="input-mini" style="text-align:right;" data-bind="value: settings.settings.plugins.SmartScale.material_density">
				<span class="add-on">g/cm<span><sup>3</sup></span></span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Filamentname:') }}</label>
		<div class="controls">
			<div class="input-append">
				<input type="text" size="40" class="input" data-bind="value: settings.settings.plugins.SmartScale.newFilament">
				<button class="btn" type="button" data-bind="click: addFilament">Add Filament</button>
			</div>
		</div>
	</div>
	<table border=1>
		<thead>
			<tr>
				<th align=left>Load Settings</th><th>Date</th><th align=right>Weight</th><th align=right>Length</th><th>Empty</th><th>Density</th><th>Remove</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: settings.settings.plugins.SmartScale.filaments">
			<tr>
				<td><a href="#" data-bind="click: function(data, event) {$root.loadFilament($index, data, event);} , text: fila"></a></td>
				<td data-bind="text: date"></td>
				<td align=right data-bind="text: filaweight"></td>
				<td align=right data-bind="text: units"></td>
				<td align=right data-bind="text: spool"></td>
				<td align=right data-bind="text: density"></td>
				<td align=right><a href="#" data-bind="click: function(data, event) {$root.removeFilament($index, data, event);}, visible: $root.settings.settings.plugins.SmartScale.activefilament()!==$index()">Delete</a><span class="activeFilament" data-bind="visible: $root.settings.settings.plugins.SmartScale.activefilament()===$index()">Active</span>
				<input type="hidden" data-bind="value: weight">
				</td>
			</tr>
		</tbody>
	</table>
</div>