<form class="form-horizontal" id="SmartScale_plugin_settings">
	<div class="tabbable">
		<H4>Smart Scale Settings</H4>
		<ul class="nav nav-tabs" id="SmartScale_tabs">
			<li class="active"><a data-toggle="tab" href="#SmartScale_filament">Filament</a></li>
			<li ><a data-toggle="tab" href="#SmartScale_settings">Settings</a></li>
			<li ><a data-toggle="tab" href="#SmartScale_calibration">Calibration</a></li>
			<li ><a data-toggle="tab" href="#SmartScale_information">Information</a></li>
		</ul>
		<div class="tab-content">
			<div id="SmartScale_filament" class="tab-pane active">
				<H4>Filament Settings</H4>
				<div class="control-group">
					<label class="control-label">{{ _('Empty Spool:') }}</label>
					<div class="controls">
						<div class="input-append">
							<input type="text" class="input-mini" style="text-align:right;" data-bind="value: spool_weight">
							<span class="add-on" >g</span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ _('Density:') }}</label>
					<div class="controls">
						<div class="input-append">
							<input type="text" class="input-mini" style="text-align:right;" data-bind="value: material_density">
							<span class="add-on">g/cm<span><sup>3</sup></span></span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ _('Filamentname:') }}</label>
					<div class="controls">
						<div class="input-append">
							<input type="text" size="40" class="input" data-bind="value: newFilament">
							<button class="btn" type="button" data-bind="click: addFilament">Add Filament</button>
						</div>
					</div>
				</div>
				<table border=1>
					<thead>
						<tr>
							<th align=left>Load Settings</th><th>Date</th><th align=right>Weight</th><th align=right>Length</th><th>Empty</th><th>Density</th><th>Remove</th>
						</tr>
					</thead>
					<tbody data-bind="foreach: filaments">
						<tr>
							<td><a href="#" data-bind="click: function(data, event) {$root.loadFilament($index, data, event);}, text: fila"></a></td>
							<td data-bind="text: date"></td>
							<td align=right data-bind="text: filaweight"></td>
							<td align=right data-bind="text: length"></td>
							<td align=right data-bind="text: spool"></td>
							<td align=right data-bind="text: density"></td>
							<td align=right><a href="#" data-bind="click: function(data, event) {$root.removeFilament($index, data, event);}, visible: $root.active_filament()!==$index()">Delete</a><span class="active_filament" data-bind="visible: $root.active_filament()===$index()">Active</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="SmartScale_settings" class="tab-pane">
				<div class="control-group">
					<label class="control-label">{{ _('Filament tab on mainscreen') }}</label>
					<div class="controls">
						<div class="control-label">
							<label><input type="radio" name="filamenttab" value="1" data-bind="checked: settings.settings.plugins.SmartScale.filamenttab" /> {{ _('show') }}</label>
						</div>
						<div class="control-label">
							<label><input type="radio" name="filamenttab" value="0" data-bind="checked: settings.settings.plugins.SmartScale.filamenttab" /> {{ _('hide') }}</label>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ _('Coilweight:') }}</label>
					<div class="controls">
						<div class="input-append">
							<input type="text" class="input-mini" style="text-align:right;" data-bind="value: settings.settings.plugins.SmartScale.coilweight">
							<span class="add-on">g</span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ _('Containersize:') }}</label>
					<div class="controls">
						<div class="input-append">
							<input type="text" class="input-mini" style="text-align:right;" data-bind="value: settings.settings.plugins.SmartScale.containersize">
							<span class="add-on">l</span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ _('Altitude:') }}</label>
					<div class="controls">
						<div class="input-append">
							<input type="text" class="input-mini" style="text-align:right;" data-bind="value: settings.settings.plugins.SmartScale.altitude">
							<span class="add-on" >m</span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ _('Heatertemp (WIP):') }}</label>
					<div class="controls">
						<div class="input-append">
							<input type="text" class="input-mini" style="text-align:right;" data-bind="value: settings.settings.plugins.SmartScale.heatertemp">
							<span class="add-on">°</span>
						</div>
					</div>
				</div>
{#				<div class="control-group">
					<div class="control-label">
						<label class="control-label">{{ _('Wifi:') }}</label>
					</div>
					<div class="control-label">
						<button class="btn" type="button" data-bind="click: ssid">Setup</button>
					</div>
					<div class="control-label">
						<button class="btn" type="button" data-bind="click: startwifi">Start</button>
					</div>
					<div class="control-label">
						<button class="btn" type="button" data-bind="click: stopwifi">Stop</button>
					</div>
				</div>
#}
				<div class="control-group">
					<label class="control-label">{{ _('Try Reconnect') }}</label>
					<div class="controls">
						<div class="input-append">
							<button class="btn" type="button" data-bind="click: reconnect">Reconnect</button>
						</div>
					</div>
				</div>
			</div>
			<div id="SmartScale_calibration" class="tab-pane">
				<H4>Calibration</H4>
				<div class="control-group">
					<label class="control-label">{{ _('Current weight:') }}</label>
					<div class="controls">
						<div class="input-append">
							<input type="text" class="input-mini" style="text-align:right;" data-bind="value: settingsweight" disabled>
							<span class="add-on" >g</span>
						</div>
					</div>
				</div>
				<p>
					You need to tare and calibrate the sensor to get accurate readings. <br>Step 1: Remove the spool and the coil from the scale and hit the Tare-Button:
				</p>
				<div class="control-group">
					<div class="controls">
					
					
						<button class="btn" type="button" data-bind="click: tare">Tare</button>
					</div>
				</div>
				<p>
					Step 2: Mount a full spool on the coil and then measure the weight with a kitchenscale.<br>
					Step 3: Mount everything on the scale and enter the measured weight as reference weight.<br>
					Step 4: Hit the Calibrate-button.<br>
				</p>
				<div class="control-group">
					<label class="control-label">{{ _('Reference weight:') }}</label>
					<div class="controls">
						<div class="input-append">
							<input type="text" class="input-mini" style="text-align:right;" data-bind="textInput: newref, value: settings.settings.plugins.SmartScale.referenceweight">
							<span class="add-on" >g</span>
							<button class="btn" type="button" data-bind="click: cali">Calibrate</button>
						</div>
					</div>
				</div>
			</div>
			<div id="SmartScale_information" class="tab-pane">
				<H4>Navbar</H4>
				<div class="control-group">
					<label class="control-label">{{ _('Show weight (W:)') }}</label>
					<div class="controls">
						<div class="control-label">
							<label><input type="radio" name="navweight" value="1" data-bind="checked: settings.settings.plugins.SmartScale.navweight" /> {{ _('yes') }}</label>
						</div>
						<div class="control-label">
							<label><input type="radio" name="navweight" value="0" data-bind="checked: settings.settings.plugins.SmartScale.navweight" /> {{ _('no') }}</label>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ _('Show length (L:)') }}</label>
					<div class="controls">
						<div class="control-label">
							<label><input type="radio" name="navlength" value="1" data-bind="checked: settings.settings.plugins.SmartScale.navlength" /> {{ _('yes') }}</label>
						</div>
						<div class="control-label">
							<label><input type="radio" name="navlength" value="0" data-bind="checked: settings.settings.plugins.SmartScale.navlength" /> {{ _('no') }}</label>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ _('Show Temperature (T:)') }}</label>
					<div class="controls">
						<div class="control-label">
							<label><input type="radio" name="navtemp" value="1" data-bind="checked: settings.settings.plugins.SmartScale.navtemp" /> {{ _('yes') }}</label>
						</div>
						<div class="control-label">
							<label><input type="radio" name="navtemp" value="0" data-bind="checked: settings.settings.plugins.SmartScale.navtemp" /> {{ _('no') }}</label>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ _('Show Humidity (R:)') }}</label>
					<div class="controls">
						<div class="control-label">
							<label><input type="radio" name="navhumi" value="1" data-bind="checked: settings.settings.plugins.SmartScale.navhumi" /> {{ _('yes') }}</label>
						</div>
						<div class="control-label">
							<label><input type="radio" name="navhumi" value="0" data-bind="checked: settings.settings.plugins.SmartScale.navhumi" /> {{ _('no') }}</label>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ _('Show Water (A:)') }}</label>
					<div class="controls">
						<div class="control-label">
							<label><input type="radio" name="navwater" value="1" data-bind="checked: settings.settings.plugins.SmartScale.navwater" /> {{ _('yes') }}</label>
						</div>
						<div class="control-label">
							<label><input type="radio" name="navwater" value="0" data-bind="checked: settings.settings.plugins.SmartScale.navwater" /> {{ _('no') }}</label>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ _('Show Pressure (P:)') }}</label>
					<div class="controls">
						<div class="control-label">
							<label><input type="radio" name="navpressure" value="1" data-bind="checked: settings.settings.plugins.SmartScale.navpressure" /> {{ _('yes') }}</label>
						</div>
						<div class="control-label">
							<label><input type="radio" name="navpressure" value="0" data-bind="checked: settings.settings.plugins.SmartScale.navpressure" /> {{ _('no') }}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p align=right>
		Remember to save when done!
	</p>
</form>
